.container{
    width:7.01rem;
    height: 100%;
    margin: 0 auto;
    min-height: 1px;
}
.header {
    width: 100%;
    height: 1.72rem;
    margin: 0 auto;
    background-color: #3bd4ff;

}
/*顶部开始*/
.titled {
    width: 100%;
    height: 1.72rem;
    padding-top: 0.65rem;
    position: relative;
    background-color: #3bd4ff;

}
.titled-box {
    width: 100%;
    height: 0.37rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titled-box>p{
    height: 0.37rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.37rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #fbfcfd;
    line-height: 0.37rem;
}
.icon1 {
    font-family: "iconfont";
    width: 0.35rem;
    height: 0.35rem;
    background-color: #ffffff;
    font-size: 0.23rem;
    line-height: 0.35rem;
    text-align: center;
    border-radius: 50%;
    color:#3bd4ff ;
}
.icon3{
    font-family: "iconfont";
    width: 0.35rem;
    height: 0.35rem;
    background-color: #ffffff;
    font-size: 0.23rem;
    line-height: 0.35rem;
    text-align: center;
    border-radius: 50%;
    color:#3bd4ff ;
}
/*顶部结束*/
/*介绍开始*/
.introduce {
    width: 100%;
    height: 1.49rem;
    background-color: #ffffff;
    box-shadow: 0.002rem 0.05rem 0.15rem 0rem rgba(2, 2, 2, 0.17);
    border-radius: 0.1rem;
    position: absolute;
    top: 1.22rem;
}
.vip-box{
    width: 1.4rem;
    height: 0.28rem;
    background-color: #3bd4ff;
    border-radius: 0.1rem;
    position: absolute;
    top: 0.2rem;
    left: 4.45rem;
    color: #fefdfa;
    padding-left: 0.1rem;
}
.vip-box>img{
    width: 0.22rem;
    height: 0.2rem;
    line-height: 0.28rem;
}
.vip-box>span{
    font-family: PingFang-SC-Bold;
    font-size: 0.18rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #fefdfa;
    line-height: 0.28rem;
}
.img-box {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.24rem;
    left: 0.24rem;
}
.img-box>img {
    width: 100%;
    height: 100%;
    display: block;
}
.introduce-right {
    width: 5.26rem;
    height: 1.19rem;
    position: absolute;
    top: 0.18rem;
    left: 1.48rem;
}
.xingxing {
    height: 0.21rem;
}
.introduce-right>span{
    width: 2rem;
    height: 0.24rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.18rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #040404;
    opacity: 0.6;
}
.introduce-sale>p{
    width:4.6rem;
    height: 0.18rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.18rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #040404;
    opacity: 0.6;
}
#icon4{
    font-family: iconfont;

    opacity: 0.6;
    text-align: center;
    line-height: 0.2rem;
    display: block;
    position: absolute;
    top: 0.8rem;
    left: 0rem;
    font-size: 0.4rem;
}
#phone{
    width: 1rem;
    height: 0.2rem;
    font-family: PingFang-SC-Medium;
    font-size: 0.12rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #040404;
    opacity: 0.6;
    line-height: 0.2rem;
    position: absolute;
    top: 0.8rem;
    left: 0.42rem;
    display: inline-block;
}
.hongbao-box{
    width: 100%;
    height: 1rem;
    padding-top: 1.50rem;

}
.hongbao{
    width: 100%;
    height: 0.35rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hongbao-box1{
    width: 0.6rem;
    text-align: center;
    line-height: 0.35rem;
}
.hongbao-box1>a{
    font-family: PingFang-SC-Bold;
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #f6d209;
}
.mon{
    width: 100%;
    height: 0.35rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mon-box{
    width: 0.6rem;
    text-align: center;
    line-height: 0.35rem;
}
.mon-box>a{
    font-family: PingFang-SC-Regular;
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #040404;
    opacity: 0.8;
}
.list-box{
    width: 100%;
    background: #eeeeee;
    height: 8.18rem;
}
.list{
    padding-top: 0.05rem;
}
.list1{
    width: 7.01rem;
    height: 0.88rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    position: relative;
    margin: 0.25rem auto 0;
}
.list1>i{
   width: 0.65rem;
    height: 0.65rem;
    background-color: #3bd4ff;
    font-family: iconfont;
    font-size: 0.3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 0.65rem;
    color: #ffffff;
    position: absolute;
    left: 0.2rem;
    top: 0.15rem;
}
.list1>p{
    width: 1.5rem;
    height: 0.23rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #040404;
    position: absolute;
    left: 1.1rem;
    line-height: 0.88rem;
     }
#mon{
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    width: 0.5rem;
    height: 0.25rem;
    background-color: #ff296f;
    border-radius: 0.125rem;
    font-family: PingFang-SC-Medium;
    font-size: 0.18rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.25rem;
}
#icon5{
    width: 0.5rem;
    height: 0.25rem;
    background-color: #ff296f;
    border-radius: 0.125rem;
    font-family: iconfont;
    text-align: center;
    line-height: 0.25rem;
    font-size: 0.18rem;
    color:  #ffffff;
    position: absolute;
    top: 0.3rem;
    left: 6.25rem;
}
/*底部开始*/
.footer-box{
    width: 100%;
    background: #F1F1F1;
    height: 1rem;
    position:fixed ;
    bottom: 0;
}
.footer-top{
    width: 100%;
    height: 0.65rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-ibox{
    width: 0.65rem;
    height: 0.65rem;
    text-align: center;
    line-height: 0.65rem;
}
.footer-bottom{
    width: 100%;
    height: 0.35rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-pbox{
    width: 0.65rem;
    height: 0.35rem;
    text-align: center;
    line-height: 0.35rem;
}
.footer-ibox>i{
    font-family: iconfont;
    font-size:0.45rem ;
    line-height: 0.65rem;
    color: #030303;
    opacity: 0.6;
}
.footer-pbox>a{
    font-family: PingFang-SC-Bold;
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #050505;
    opacity: 0.6;
}
#center{
    color: #3bd4ff;
    opacity: 1;
}
#center1{
    color: #3bd4ff;
    opacity: 1;
}
/*底部结束*/